.wrapper_inner {
  position: relative;
  z-index: 2;
  width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.index_main_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 147px 0 56px 0;
  background-image: url('../img/screen/blockchain_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(29,29,29,0.88) 0%,rgba(29,29,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(29,29,29,0.88) 0%,rgba(29,29,29,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .index_main_text {
    .index_main_title {
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
      color: #fff;
      span {
        color: #FFBC0D;
      }
    }
    .index_main_sub {
      margin-top: 16px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 300;
      color: rgba(255, 255, 255, .84);
    }
  }
  iframe {
    margin-top: 42px;
    width: 800px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .18);
  }
  .index_main_line {
    margin: 42px 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .12);
  }
}

.index_main_percent_ul {
  font-size: 0;
}
.index_main_percent_li {
  width: 110px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 66px;
  &:first-child {
    margin-left: 0;
  }
  .index_main_percent {
    display: flex;
    align-items: center;
    .index_main_percent_number_area {
      font-size: 26px;
      line-height: 26px;
      font-weight: 600;
      color: #fff;
    }
    img {
      margin-left: 8px;
    }
  }
  .index_main_percent_label {
    margin-top: 8px;
    color: rgba(255, 255, 255, .64);
  }
}

.index_main_robot {
  position: absolute;
  right: 0;
  bottom: -106px;
}

.index_value_area {
  position: relative;
  padding: 96px 0 152px 0;
  background-color: #fff;
  background-image: url('../img/index/index_value_bg.svg');
  background-position: center center;
  background-repeat: no-repeat;
  .index_value_title {
    font-size: 48px;
    line-height: 48px;
    color: #1d1d1d;
    span {
      margin-left: 6px;
      display: inline-block;
      position: relative;
      background-color: #1d1d1d;
      padding: 8px 52px;
      border-radius: 50px;
      color: #FFBC0D;
      &::before, &::after {
        display: block;
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        left: 12px;
      }
      &::after {
        right: 12px;
      }
    }
  }
}

.index_value_ul {
  display: flex;
  align-items: center;
  margin-top: 82px;
  font-size: 0;
}

.index_value_li {
  position: relative;
  padding: 26px;
  width: calc((100% - 32px)/3);
  height: 306px;
  margin-left: 16px;
  text-align: left;
  &.risk {
    &::before {
      background-color: #FF2525;
    }
    img {
      right: 38px;
      bottom: -30px;
    }
  }
  &.money {
    &::before {
      background-color: #FFBC0D;
    }
    img {
      right: 42px;
      bottom: -34px;
    }
  }
  &.easy {
    &::before {
      background-color: #4343DA;
    }
    img {
      right: 0;
      bottom: -42px;
    }
  }
  &::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #1d1d1d;
    border-radius: 5px;
  }
  &:first-child {
    margin-left: 0;
  }
  img {
    position: absolute;
  }
  .index_value_contents_title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    color: #1d1d1d;
  }
  .index_value_contents_sub {
    margin-top: 16px;
    width: 100%;
    padding: 16px;
    background-color: rgba(29, 29, 29, .04);
    border-radius: 5px;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1d;
  }
}

.index_value_split {
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  z-index: 2;
}

.index_trial_area {
  position: relative;
  padding: 110px 0;
  background-image: url('../img/index/index_trial_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, .9);
  }
  .index_trial_img {
    margin: 38px 0;
  }
}

.index_trial_title {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  span {
    color: #FFBC0D;
    font-weight: 700;
  }
}
.index_trial_sub {
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, .84);
  span {
    color: #fff;
    font-weight: 500;
  }
}

.index_trial_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  padding: 17px 49px;
  border-radius: 50px;
  background-color: #FFBC0D;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #1d1d1d;
  &:hover {
    color: #1d1d1d;
  }
  img {
    margin-left: 10px;
  }
}
.onlyMobileBr {
  display: none;
}
.fixed_scolldown {
  display: none;
  position: fixed;
  width: 1.2em; 
  height: 1.2em; 
  background-color: transparent;
  z-index: 80; 
  left: 47%;
  border-color: #1d1d1d;
  transform: translate(-50%, 0%) rotate(45deg);
  opacity: 0;
  border-width: 0 0.25em 0.25em 0; border-style: solid;
}
@keyframes scrolldown {
  0%{
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50%{
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100%{
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

@media only screen and (max-width: 1400px) {
  .wrapper_inner {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .index_value_li {
    .index_value_contents_title {
      font-size: 32px;
      line-height: 32px;
    }
    .index_value_contents_sub {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .index_main_area {
    padding: 114px 0 42px 0;
    .index_main_text {
      .index_main_title {
        font-size: 40px;
        line-height: 40px;
      }
      .index_main_sub {
        font-size: 22px;
        line-height: 30px;
      }
    }
    iframe {
      margin-top: 32px;
      width: 100%;
    }
    .index_main_line {
      margin: 32px 0;
    }
  }
  .index_main_robot {
    display: none;
  }
  .index_value_area {
    padding: 62px 0;
    .index_value_title {
      font-size: 40px;
      line-height: 40px;
      span {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
  .index_value_ul {
    margin-top: 42px;
    flex-direction: column;
  }
  .index_value_li {
    padding-bottom: 40px;
    width: 100%;
    margin-top: 42px;
    margin-left: 0;
    height: auto;
    &.risk {
      img {
        right: 12px;
        width: 54px;
      }
    }
    &.money {
      img {
        right: 17px;
        width: 43px;
      }
    }
    &.easy {
      img {
        right: -8px;
        width: 71px;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    .index_value_contents_sub {
      br {
        display: none;
      }
    }
  }
  .onlyMobileBr {
    display: block;
  }
  .index_trial_area {
    padding: 62px 0;
    .index_trial_title {
      font-size: 40px;
      line-height: 48px;
    }
    .index_trial_img {
      width: 280px;
    }
  }
  .index_trial_sub {
    font-size: 22px;
    line-height: 30px;
  }
  .index_trial_btn {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .index_main_area {
    padding: 90px 0 40px 0;
    .index_main_text {
      .index_main_title {
        font-size: 28px;
        line-height: 34px;
      }
      .index_main_sub {
        font-size: 18px;
        line-height: 25px;
      }
    }
    iframe {
      border-radius: 5px;
      margin-top: 24px;
      width: 100%;
      height: 189px;
    }
    .index_main_line {
      margin: 24px 0;
    }
  }
  .index_main_percent_li {
    width: 100px;
    margin-left: 8px;
    .index_main_percent {
      .index_main_percent_number_area {
        font-size: 22px;
        line-height: 22px;
      }
      img {
        width: 18px;
      }
    }
    .index_main_percent_label {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .index_value_area {
    padding: 32px 0 80px 0;
    .index_value_title {
      font-size: 28px;
      line-height: 40px;
      span {
        margin-top: 0;
        margin-left: 0;
        padding: 3px 40px;
        &::before, &::after {
          width: 5px;
          height: 5px;
        }
        &::before {
          left: 10px;
        }
        &::after {
          right: 10px;
        }
      }
    }
  }
  .index_value_ul {
    margin-top: 30px;
  }
  .index_value_li {
    padding: 20px;
    text-align: center;
    .index_value_contents_title {
      font-size: 24px;
      line-height: 24px;
    }
    .index_value_contents_sub {
      padding: 16px;
      font-size: 16px;
      line-height: 23px;
      br {
        display: block;
      }
    }
  }
  .onlyMobileBr {
    display: block;
  }


  .index_trial_area {
    padding: 50px 0;
    .index_trial_title {
      font-size: 28px;
      line-height: 34px;
    }
    .index_trial_img {
      margin: 40px 0;
      width: 185px;
    }
  }
  .index_trial_sub {
    font-size: 18px;
    line-height: 25px;
  }
  .index_trial_btn {
    width: 100%;
    margin-top: 24px;
  }
  
  .fixed_scolldown {
    display: block;
  }
}