.pricing-section {
  position: relative;
  background-size: cover !important;
  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, .84);
  }
  .wrapper_inner {
    text-align: left;
  }
}

.plan_container {
  .pricing_title {
    margin-top: 10px;
    color: #fff;
  }
  .pricing_sub {
    margin-top: 12px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, .64);
  }
}

.pricing-content-wrap {
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .18);
  &.sign_up_wrap {
    border: none;
  }
  .price_feature_area {
    background-color: #343434;
    .price_feature_title {
      font-size: 24px;
      line-height: 24px;
      color: #fff;
    }
  }
  .price_subscription_area {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    .btn-primary {
      color: #1d1d1d;
      font-weight: 700;
    }
  }
  #pills-home-tab {
    border-radius: 5px;
  }
}

.price_feature_ul {
  margin-top: 32px;
  li {
    margin-top: 18px;
    color: rgba(255, 255, 255, .64) !important;
    padding: 0 !important;
    line-height: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.tab-content {
  flex-grow: 1;
}
.price_subscription_contents {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.price_subscription_btn_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .fa-pull-right {
    color: rgba(29, 29, 29, .64);
  }
}

.pricing_review_area {
  margin-top: 100px;
  padding: 120px 0;
}

.pricing_text {
  text-align: center;
  .pricing_category {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #FFBC0D;
  }
  .pricing_title {
    color: #1d1d1d;
    margin-top: 12px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700 !important;
  }
  .pricing_sub {
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
    color: rgba(29, 29, 29, .74);
  }
}

.pricing_review_ul {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
  font-size: 0;
}

.pricing_review_li {
  padding: 86px 20px 20px 20px;
  position: relative;
  display: block;
  border-radius: 25px;
  margin-left: 16px;
  width: calc((100% - 32px)/3);
  box-shadow: 0 0 24px rgba(0, 0, 0, .08);
  &:first-child {
    margin-left: 0;
  }
  .pricing_review_bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
  .pricing_review_profile {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }
  .pricing_review_name {
    margin-top: 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #1d1d1d;
  }
  .pricing_review_star {
    margin-top: 8px;
  }
  .pricing_review_contents {
    margin-top: 20px;
    text-align: left;
    display: block;
    height: 260px;
    border-radius: 16px;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
    background-color: rgba(29, 29, 29, .04);
    color:rgba(29, 29, 29, .74);
    span {
      color:rgba(29, 29, 29, 1);
      font-weight: 600;
    }
  }
}

.faq_container {
  text-align: left;
}

.faq_toggle_area {
  margin-top: 50px !important;
  .accordion-button {
    color: #1d1d1d;
    &::after {
      background-image: url('../img/pricing/pricing_faq_arrow.svg') !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .pricing-section {
    .plan_container {
      .col-lg-8 {
        width: 80%;
      }
    }
  }
  
  .pricing-content-wrap {
    display: inline-block !important;
    .price_feature_area {
      border-radius: 0;
    }
  }
  .price_subscription_btn_area {
    margin-top: 50px;
  }
  .pricing_review_area {
    padding: 60px 0;
  }
  
  .pricing_review_ul {
    flex-direction: column;
  }
  .pricing_review_li {
    padding: 20px;
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
    display: block;
    &:first-child {
      margin-top: 0;
    }
    .pricing_review_contents {
      height: auto;
    }
  }
  .faq_toggle_area {
    margin-top: 34px !important;
  }
}

@media only screen and (max-width: 768px) {
  .pricing-section {
    .plan_container {
      h4 {
        font-size: 16px;
      }
      .pricing_title {
        margin-top: 8px;
        font-size: 28px;
        line-height: 28px;
      }
      .pricing_sub {
        margin-top: 8px;
        font-size: 16px;
        line-height: 23px;
      }
      .col-lg-8 {
        width: 100%;
      }
    }
  }
  .pricing-content-wrap {
    .price_feature_area {
      .price_feature_title {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
  .price_feature_ul {
    margin-top: 28px;
  }

  .pricing_text {
    text-align: center;
    .pricing_category {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: #FFBC0D;
    }
    .pricing_title {
      margin-top: 8px;
      font-size: 28px;
      line-height: 34px;
    }
    .pricing_sub {
      margin-top: 8px;
      font-size: 16px;
      line-height: 23px;
    }
  }

  .pricing_review_ul {
    margin-top: 30px;
  }
  .pricing_review_li {
    .pricing_review_profile {
      width: 80px;
    }
    .pricing_review_name {
      margin-top: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    .pricing_review_star {
      width: 80px;
    }
    .pricing_review_contents {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}