.main-header {
  z-index: 1040; }
  .main-header .navbar {
    justify-content: center;
    height: 95px; }
    .main-header .navbar.affix {
      padding: 10px; }
    .main-header .navbar.affix, .main-header .navbar.position-basic {
      height: auto; }
      .main-header .navbar.affix .logo-white, .main-header .navbar.position-basic .logo-white {
        display: none !important; }
      .main-header .navbar.affix .logo-color, .main-header .navbar.position-basic .logo-color {
        display: block; }
      .main-header .navbar.affix .nav-link, .main-header .navbar.position-basic .nav-link {
        color: #1d1d1d !important; }
      .main-header .navbar.affix .action-btns, .main-header .navbar.position-basic .action-btns {
        font-size: 0; }
        .main-header .navbar.affix .action-btns .btn, .main-header .navbar.position-basic .action-btns .btn {
          width: 134px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          border-radius: 5px;
          color: #1d1d1d;
          padding: 14px; }
          .main-header .navbar.affix .action-btns .btn:hover, .main-header .navbar.position-basic .action-btns .btn:hover {
            color: #FFBC0D; }
          .main-header .navbar.affix .action-btns .btn.btn-primary, .main-header .navbar.position-basic .action-btns .btn.btn-primary {
            background-color: #ffbc0d;
            border: 1px solid #FFBC0D; }
            .main-header .navbar.affix .action-btns .btn.btn-primary:hover, .main-header .navbar.position-basic .action-btns .btn.btn-primary:hover {
              background-color: rgba(255, 188, 13, 0.24);
              font-weight: 600; }
      .main-header .navbar.affix .navbar-toggler, .main-header .navbar.position-basic .navbar-toggler {
        color: #1d1d1d; }
    .main-header .navbar .container {
      margin: 0 20px;
      max-width: 1400px;
      padding: 0; }
    .main-header .navbar .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 126px;
      height: 100%;
      padding: 20px;
      color: #fff !important;
      font-size: 18px;
      line-height: 18px; }
      .main-header .navbar .nav-link:hover {
        color: #ffbc0d !important; }
    .main-header .navbar .logo-white {
      display: block !important; }
    .main-header .navbar .logo-color {
      display: none; }
    .main-header .navbar .action-btns {
      font-size: 0; }
      .main-header .navbar .action-btns .btn {
        width: 134px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        border-radius: 5px;
        color: #fff;
        padding: 14px; }
        .main-header .navbar .action-btns .btn:hover {
          color: #FFBC0D; }
        .main-header .navbar .action-btns .btn.btn-primary {
          background-color: rgba(255, 188, 13, 0.04);
          border: 1px solid #FFBC0D; }
          .main-header .navbar .action-btns .btn.btn-primary:hover {
            background-color: #ffbc0d;
            color: #1d1d1d;
            font-weight: 600; }
    .main-header .navbar .navbar-toggler {
      color: #fff; }
    .main-header .navbar .offcanvas .nav-link {
      display: block;
      color: #1d1d1d !important; }
    .main-header .navbar .offcanvas .action-btns .btn {
      color: #1d1d1d !important; }
      .main-header .navbar .offcanvas .action-btns .btn:first-child {
        margin-right: 8px;
        border: 1px solid #FFBC0D; }
        .main-header .navbar .offcanvas .action-btns .btn:first-child:hover {
          background-color: #FFBC0D; }
      .main-header .navbar .offcanvas .action-btns .btn.btn-primary {
        background-color: #FFBC0D; }

@media only screen and (max-width: 1200px) {
  .main-header .navbar {
    height: auto; }
    .main-header .navbar .logo-white, .main-header .navbar .logo-color {
      width: 160px; } }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.woff2");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Pretendard';
  src: url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.woff2");
  font-weight: 800;
  font-style: normal; }
*, html, body {
  font-family: 'Pretendard' !important; }

.far, .fas, .fad {
  font-family: 'Font Awesome 6 Pro' !important; }

h1, h2 {
  font-weight: 600 !important; }

h3, h4, h5, h6 {
  font-weight: 500 !important; }

.sign-up-in-section {
  position: relative;
  background-color: #1d1d1d !important;
  background-size: cover !important; }
  .sign-up-in-section::before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    background-color: rgba(29, 29, 29, 0.88);
    width: 100%;
    height: 100%; }
  .sign-up-in-section .container {
    position: relative;
    z-index: 2; }

.register-form .btn-primary {
  color: var(--bs-dark);
  font-weight: 600; }

.sign-up-in-section .bg-light {
  background-color: #e6e6e6 !important; }

.price-feature-col {
  background-color: #343434; }

.form-check-input:checked {
  background-color: #FFBC0D;
  border-color: #FFBC0D; }

#btnSubmit span {
  color: #1d1d1d; }

.contact-us-promo .btn {
  margin: 0;
  background-color: #FFBC0D;
  color: #1d1d1d !important;
  font-size: 20px;
  font-weight: 600; }
  .contact-us-promo .btn font {
    color: #1d1d1d;
    font-size: 20px; }

.fad::after {
  color: #f90; }

.contact-promo-info h5 {
  font-size: 24px; }
.contact-promo-info p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 23px; }
  .contact-promo-info p strong {
    font-weight: 600; }

.page-header {
  position: relative;
  background-size: cover !important; }
  .page-header::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.84); }
  .page-header .container {
    position: relative;
    z-index: 2; }
    .page-header .container .lead {
      margin-top: 8px; }

.pricing-section {
  position: relative;
  background-size: cover !important; }
  .pricing-section::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.84); }

.plan_container .pricing_title {
  margin-top: 10px;
  color: #fff; }
.plan_container .pricing_sub {
  margin-top: 12px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64); }

.pricing-content-wrap {
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18); }
  .pricing-content-wrap.sign_up_wrap {
    border: none; }
  .pricing-content-wrap .price_feature_area {
    background-color: #343434; }
    .pricing-content-wrap .price_feature_area .price_feature_title {
      font-size: 24px;
      line-height: 24px;
      color: #fff; }
  .pricing-content-wrap .price_subscription_area {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6; }
    .pricing-content-wrap .price_subscription_area .btn-primary {
      color: #1d1d1d;
      font-weight: 700; }
  .pricing-content-wrap #pills-home-tab {
    border-radius: 5px; }

.price_feature_ul {
  margin-top: 32px; }
  .price_feature_ul li {
    margin-top: 18px;
    color: rgba(255, 255, 255, 0.64) !important;
    padding: 0 !important;
    line-height: 15px; }
    .price_feature_ul li:first-child {
      margin-top: 0; }

.tab-content {
  flex-grow: 1; }

.price_subscription_contents {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  height: 100%; }

.price_subscription_btn_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .price_subscription_btn_area .fa-pull-right {
    color: rgba(29, 29, 29, 0.64); }

.pricing_review_area {
  margin-top: 100px;
  padding: 120px 0; }

.pricing_text {
  text-align: center; }
  .pricing_text .pricing_category {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #FFBC0D; }
  .pricing_text .pricing_title {
    color: #1d1d1d;
    margin-top: 12px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700 !important; }
  .pricing_text .pricing_sub {
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
    color: rgba(29, 29, 29, 0.74); }

.pricing_review_ul {
  margin-top: 50px;
  font-size: 0; }

.pricing_review_li {
  padding: 86px 20px 20px 20px;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  margin-left: 16px;
  width: calc((100% - 32px)/3);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.08); }
  .pricing_review_li:first-child {
    margin-left: 0; }
  .pricing_review_li .pricing_review_bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0; }
  .pricing_review_li .pricing_review_profile {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; }
  .pricing_review_li .pricing_review_name {
    margin-top: 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #1d1d1d; }
  .pricing_review_li .pricing_review_star {
    margin-top: 8px; }
  .pricing_review_li .pricing_review_contents {
    margin-top: 20px;
    text-align: left;
    display: block;
    height: 260px;
    border-radius: 16px;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
    background-color: rgba(29, 29, 29, 0.04);
    color: rgba(29, 29, 29, 0.74); }
    .pricing_review_li .pricing_review_contents span {
      color: #1d1d1d;
      font-weight: 600; }

.faq_toggle_area {
  margin-top: 50px !important; }
  .faq_toggle_area .accordion-button {
    color: #1d1d1d; }
    .faq_toggle_area .accordion-button::after {
      background-image: url("../img/pricing/pricing_faq_arrow.svg") !important; }

.wrapper_inner {
  position: relative;
  z-index: 2;
  width: 1400px;
  margin: 0 auto;
  text-align: center; }

.index_main_area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 147px 0 56px 0;
  background-image: url("../img/screen/blockchain_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .index_main_area::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(29, 29, 29, 0.88) 0%, #1d1d1d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.88) 0%, #1d1d1d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .index_main_area .index_main_text .index_main_title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    color: #fff; }
    .index_main_area .index_main_text .index_main_title span {
      color: #FFBC0D; }
  .index_main_area .index_main_text .index_main_sub {
    margin-top: 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.84); }
  .index_main_area iframe {
    margin-top: 42px;
    width: 800px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18); }
  .index_main_area .index_main_line {
    margin: 42px 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12); }

.index_main_percent_ul {
  font-size: 0; }

.index_main_percent_li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 92px; }
  .index_main_percent_li:first-child {
    margin-left: 0; }
  .index_main_percent_li .index_main_percent {
    display: flex;
    align-items: center;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    color: #fff; }
    .index_main_percent_li .index_main_percent img {
      margin-left: 8px; }
  .index_main_percent_li .index_main_percent_label {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.64); }

.index_main_robot {
  position: absolute;
  right: 0;
  bottom: -106px; }

.index_value_area {
  position: relative;
  padding: 96px 0 152px 0;
  background-color: #fff;
  background-image: url("../img/index/index_value_bg.svg");
  background-position: center center;
  background-repeat: no-repeat; }
  .index_value_area .index_value_title {
    font-size: 48px;
    line-height: 48px;
    color: #1d1d1d; }
    .index_value_area .index_value_title span {
      margin-left: 6px;
      display: inline-block;
      position: relative;
      background-color: #1d1d1d;
      padding: 8px 52px;
      border-radius: 50px;
      color: #FFBC0D; }
      .index_value_area .index_value_title span::before, .index_value_area .index_value_title span::after {
        display: block;
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%); }
      .index_value_area .index_value_title span::before {
        left: 12px; }
      .index_value_area .index_value_title span::after {
        right: 12px; }

.index_value_ul {
  display: flex;
  align-items: center;
  margin-top: 82px;
  font-size: 0; }

.index_value_li {
  position: relative;
  padding: 26px;
  width: calc((100% - 32px)/3);
  height: 306px;
  margin-left: 16px;
  text-align: left; }
  .index_value_li.risk::before {
    background-color: #FF2525; }
  .index_value_li.risk img {
    right: 38px;
    bottom: -30px; }
  .index_value_li.money::before {
    background-color: #FFBC0D; }
  .index_value_li.money img {
    right: 42px;
    bottom: -34px; }
  .index_value_li.easy::before {
    background-color: #4343DA; }
  .index_value_li.easy img {
    right: 0;
    bottom: -42px; }
  .index_value_li::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    border: 1px solid #1d1d1d;
    border-radius: 5px; }
  .index_value_li::after {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #1d1d1d;
    border-radius: 5px; }
  .index_value_li:first-child {
    margin-left: 0; }
  .index_value_li img {
    position: absolute; }
  .index_value_li .index_value_contents_title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    color: #1d1d1d; }
  .index_value_li .index_value_contents_sub {
    margin-top: 16px;
    width: 100%;
    padding: 16px;
    background-color: rgba(29, 29, 29, 0.04);
    border-radius: 5px;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1d; }

.index_value_split {
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  z-index: 2; }

.index_trial_area {
  position: relative;
  padding: 110px 0;
  background-image: url("../img/index/index_trial_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .index_trial_area::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.9); }
  .index_trial_area .index_trial_img {
    margin: 38px 0; }

.index_trial_title {
  font-size: 48px;
  line-height: 48px;
  color: #fff; }
  .index_trial_title span {
    color: #FFBC0D;
    font-weight: 700; }

.index_trial_sub {
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.84); }
  .index_trial_sub span {
    color: #fff;
    font-weight: 500; }

.index_trial_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  padding: 17px 49px;
  border-radius: 50px;
  background-color: #FFBC0D;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #1d1d1d; }
  .index_trial_btn:hover {
    color: #1d1d1d; }
  .index_trial_btn img {
    margin-left: 10px; }

.onlyMobileBr {
  display: none; }

.fixed_scolldown {
  display: none;
  position: fixed;
  width: 1.2em;
  height: 1.2em;
  background-color: transparent;
  z-index: 80;
  left: 47%;
  border-color: #1d1d1d;
  transform: translate(-50%, 0%) rotate(45deg);
  opacity: 0;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid; }

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7; }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2; }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7; } }
@media only screen and (max-width: 1400px) {
  .wrapper_inner {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px; } }
@media only screen and (max-width: 1200px) {
  .index_value_li .index_value_contents_title {
    font-size: 32px;
    line-height: 32px; }
  .index_value_li .index_value_contents_sub {
    font-size: 18px;
    line-height: 26px; } }
@media only screen and (max-width: 992px) {
  .index_main_area {
    padding: 114px 0 42px 0; }
    .index_main_area .index_main_text .index_main_title {
      font-size: 40px;
      line-height: 40px; }
    .index_main_area .index_main_text .index_main_sub {
      font-size: 22px;
      line-height: 22px; }
    .index_main_area iframe {
      margin-top: 32px;
      width: 100%; }
    .index_main_area .index_main_line {
      margin: 32px 0; }

  .index_main_robot {
    display: none; }

  .index_value_area {
    padding: 62px 0; }
    .index_value_area .index_value_title {
      font-size: 40px;
      line-height: 40px; }

  .index_value_ul {
    margin-top: 42px;
    flex-direction: column; }

  .index_value_li {
    padding-bottom: 40px;
    width: 100%;
    margin-top: 42px;
    margin-left: 0;
    height: auto; }
    .index_value_li.risk img {
      right: 12px;
      width: 54px; }
    .index_value_li.money img {
      right: 17px;
      width: 43px; }
    .index_value_li.easy img {
      right: -8px;
      width: 71px; }
    .index_value_li:first-child {
      margin-top: 0; }
    .index_value_li .index_value_contents_sub br {
      display: none; }

  .onlyMobileBr {
    display: block; }

  .index_trial_area {
    padding: 62px 0; }
    .index_trial_area .index_trial_title {
      font-size: 40px;
      line-height: 48px; }
    .index_trial_area .index_trial_img {
      width: 280px; }

  .index_trial_sub {
    font-size: 22px;
    line-height: 30px; }

  .index_trial_btn {
    margin-top: 24px; } }
@media only screen and (max-width: 768px) {
  .index_main_area {
    padding: 90px 0 40px 0; }
    .index_main_area .index_main_text .index_main_title {
      font-size: 28px;
      line-height: 34px; }
    .index_main_area .index_main_text .index_main_sub {
      font-size: 18px;
      line-height: 25px; }
    .index_main_area iframe {
      border-radius: 5px;
      margin-top: 24px;
      width: 100%;
      height: 189px; }
    .index_main_area .index_main_line {
      margin: 24px 0; }

  .index_main_percent_li {
    margin-left: 30px; }
    .index_main_percent_li .index_main_percent {
      font-size: 22px;
      line-height: 22px; }
      .index_main_percent_li .index_main_percent img {
        width: 18px; }
    .index_main_percent_li .index_main_percent_label {
      font-size: 14px;
      line-height: 14px; }

  .index_value_area {
    padding: 32px 0 80px 0; }
    .index_value_area .index_value_title {
      font-size: 28px;
      line-height: 40px; }
      .index_value_area .index_value_title span {
        margin-left: 0;
        padding: 3px 40px; }
        .index_value_area .index_value_title span::before, .index_value_area .index_value_title span::after {
          width: 5px;
          height: 5px; }
        .index_value_area .index_value_title span::before {
          left: 10px; }
        .index_value_area .index_value_title span::after {
          right: 10px; }

  .index_value_ul {
    margin-top: 30px; }

  .index_value_li {
    padding: 20px;
    text-align: center; }
    .index_value_li .index_value_contents_title {
      font-size: 24px;
      line-height: 24px; }
    .index_value_li .index_value_contents_sub {
      padding: 16px;
      font-size: 16px;
      line-height: 23px; }
      .index_value_li .index_value_contents_sub br {
        display: block; }

  .onlyMobileBr {
    display: block; }

  .index_trial_area {
    padding: 50px 0; }
    .index_trial_area .index_trial_title {
      font-size: 28px;
      line-height: 34px; }
    .index_trial_area .index_trial_img {
      margin: 40px 0;
      width: 185px; }

  .index_trial_sub {
    font-size: 18px;
    line-height: 25px; }

  .index_trial_btn {
    width: 100%;
    margin-top: 24px; }

  .fixed_scolldown {
    display: block; } }
.hero-section {
  background-color: #1d1d1d !important; }

.offcanvas-header img {
  width: 160px; }

/*# sourceMappingURL=outsourcing.css.map */
